@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #fff;
	--text-header-color: #484848;
  --text-sub-header-color: #8A8A8A;
  --text-sale-color: #D03947;
  --text-sub-header-color-active: #fff;
  --bg-category-cell: #FAFAFA;
  --bg-category-cell-active: #000;
}

body {
  background-color: var(--bg-color);
}

h1 {
  font-family: var(--font-header);
}

h2, h3, h4, h5, h6, p, span, button, a {
  font-family: var(--font-body);
}